{{ define "main" }}
  {{ $lastmodstr := (partial "date.html" (dict "date" .Lastmod "language" $.Page.Language "format" "long")) }}
  {{ $datestr := (partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "long")) }}

  {{ if .Params.thumbnail }}
  <div class="relative max-w-5xl px-4 mx-auto">
    <img src="{{ .Params.thumbnail }}" class="object-contain w-full rounded-lg shadow-sm" />
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <div class="absolute top-4 right-8 rounded shadow bg-white text-gray-900 dark:bg-gray-900 dark:text-white px-2 py-0.5">
      {{ $datestr }}
    </div>
    {{ end }}
  </div>
  {{ end }}

  <article class="px-4 mx-auto my-8 prose lg:prose-lg dark:prose-dark">

    <h1 class="mb-2 text-2xl font-bold">{{ .Title }}</h1>
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <h5 class="flex items-center text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <rect x="4" y="5" width="16" height="16" rx="2" />
        <line x1="16" y1="3" x2="16" y2="7" />
        <line x1="8" y1="3" x2="8" y2="7" />
        <line x1="4" y1="11" x2="20" y2="11" />
        <rect x="8" y="15" width="2" height="2" />
      </svg>
      {{ $datestr | i18n "postedOnDate" }}
      {{ if ne $datestr $lastmodstr }}
        &nbsp{{ $lastmodstr | i18n "lastModified" }}</h5><h5 class="flex items-center text-sm">
      {{ else }}
        &nbsp;&bull;&nbsp;
      {{ end }}
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="9" />
        <polyline points="12 7 12 12 15 15" />
      </svg>
      {{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}
      &nbsp;&bull;
      <svg xmlns="http://www.w3.org/2000/svg" class="mx-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
        <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
        <line x1="3" y1="6" x2="3" y2="19" />
        <line x1="12" y1="6" x2="12" y2="19" />
        <line x1="21" y1="6" x2="21" y2="19" />
      </svg>
      {{ .WordCount }}&nbsp;{{ i18n "words" }}
      {{ if not (or (or .Site.Params.hideOtherLanguages .Params.hideOtherLanguages) false) }}
        {{ if .IsTranslated -}}
          {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
          {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
          {{- $cleanLinks := apply $links "chomp" "." -}}
          {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
          &nbsp;&bull;&nbsp;{{ i18n "translationsLabel" }}&nbsp;{{ $linksOutput }}
        {{- end }}
      {{ end }}
    </h5>
    {{ end }}

    {{ .Content }}

    <form class="py-4 mx-24 font-light bg-gray-800 rounded-lg dark:bg-blue-200" name="subscribe" method="POST" data-netlify="true" action="?email=submit" required>
      <p>
        <div class="flex flex-col items-center space-y-4">
          <label class="text-2xl font-semibold text-white dark:text-blue-900" for="email">Subscribe via email</label>
          <input class="px-8 py-2 mt-1 text-center text-blue-900 border rounded-md shadow-sm bg-lg input border-slate-300 placeholder-slate-600 focus:outline-none focus:border-sky-500 focus:ring-sky-600 sm:text-sm focus:ring-2"
            id=email type="email" name="email" placeholder="subscribe@me.please" required/>
          <button class="px-4 py-2 mt-2 text-white bg-blue-700 rounded-md dark:bg-blue-700 dark:hover:bg-blue-500 hover:bg-blue-500 dark:text-white" id="formSubmitBtn" type="submit">Subscribe</button>
        </div>
      </p>
        </p>
    </form>

    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const email = urlParams.get('email')
      if ( email === "submit" ) {
        var submitBtn = document.getElementById("formSubmitBtn");
        document.getElementById("email").readOnly = true;
        submitBtn.innerText = "Thanks!";
        submitBtn.disabled = true;
        submitBtn.classList.remove("dark:hover:bg-blue-500", "hover:bg-blue-500");
        submitBtn.classList.replace("dark:bg-blue-700", "dark:bg-pink-600");
        submitBtn.classList.replace("bg-blue-700", "bg-pink-600");
      }
    </script>
  </article>
  {{- partial "social.html" . -}}
{{ end }}
