<section class="{{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900">
  <div class="container grid items-center max-w-screen-lg gap-4 px-6 py-12 mx-auto md:grid-cols-2 lg:gap-16">
    <div>
      <h1 class="order-first mb-4 text-4xl font-bold">{{ .Site.Params.introTitle | safeHTML}}</h1>
      <p class="pb-6 text-lg font-light">{{ .Site.Params.introSubtitle | safeHTML}}</p>
      <form class="py-6 font-light bg-gray-800 rounded-lg dark:bg-blue-200" name="subscribe" method="POST" data-netlify="true" action="/?email=submit" required>
        <p>
          <div class="flex flex-col items-center space-y-4">
            <label class="text-2xl font-semibold text-white dark:text-blue-900" for="email">Subscribe via email</label>
            <input class="px-8 py-2 mt-1 text-center text-blue-900 border rounded-md shadow-sm bg-lg input border-slate-300 placeholder-slate-600 focus:outline-none focus:border-sky-500 focus:ring-sky-600 sm:text-sm focus:ring-2"
              id=email type="email" name="email" placeholder="subscribe@me.please" required />
            <button class="px-4 py-2 mt-2 text-white bg-blue-700 rounded-md dark:bg-blue-700 dark:hover:bg-blue-500 hover:bg-blue-500 dark:text-white" id="formSubmitBtn" type="submit">Subscribe</button>
          </div>
        </p>
          </p>
      </form>
    </div>
    <img class="order-first rounded-lg shadow-sm md:order-last" src="{{ .Site.Params.introPhoto }}" alt="{{ .Site.Title }}" />
  </div>

  <script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const email = urlParams.get('email')
    if ( email === "submit" ) {
      var submitBtn = document.getElementById("formSubmitBtn");
      document.getElementById("email").readOnly = true;
      submitBtn.innerText = "Thanks!";
      submitBtn.disabled = true;
      submitBtn.classList.remove("dark:hover:bg-blue-500", "hover:bg-blue-500");
      submitBtn.classList.replace("dark:bg-blue-700", "dark:bg-pink-600");
      submitBtn.classList.replace("bg-blue-700", "bg-pink-600");
    }
  </script>
</section>